/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset underline for all links */
a, a:link, a:visited {
    text-decoration: none !important; /* Force no underline */
    color: inherit !important; /* Ensure color remains white */
}

a:hover, a:focus {
    text-decoration: none; /* Remove underline on hover */
}

@font-face {
  font-family: "h-blk";
  src: url("HelveticaNowDisplay-ExtBlk.woff2");
  font-weight: normal;
  font-style: normal;
}

html, body {
    height: 100%; /* Occupy full viewport height */
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat globally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertical alignment */
    align-items: center; /* Horizontal alignment */
    color: white;
    overflow: hidden; /* Prevent scrolling */
}

body {
    position: relative;
    min-height: 100vh; /* Ensure body is at least the full height of the viewport */
    padding-bottom: 60px; /* Ensure space for the footer */
}

/* Fullscreen video background setup */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
    background-color: black; /* Fallback for any screen gaps */
}

/* Content overlay */
.content {
    font-family: "h-blk";
    color: white;
    text-align: center;
    z-index: 1;
    padding-bottom:50px;
}

.content img {
    margin: 0 auto;
    display: block;
    padding-bottom:60px;
}

.content h1, .content h2 {
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove padding */
}

.content h1 {
    font-size: 6em;
    font-weight: 800;
    margin-bottom: 10px; /* Add slight space between h1 and h2 */
    letter-spacing: 2px;
    line-height: 0.8;
}

.content h2 {
    font-size: 10em;
    font-weight: 800; /* Bold weight */
    line-height: 0;
}

.-is-visually-hidden {
  width: 1px;
  height: 1px;
  color: transparent;
}

/* Footer styling */
footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.7);
}

/* Responsive adjustments */
@media (max-width: 768px) { /* iPad */
    .content h1 {
        font-size: 6em;
    }

    .content h2 {
        font-size: 10em;
    }
}

@media (max-width: 480px) { /* iPhone */
    .content h1 {
        font-size: 3em;
    }

    .content h2 {
        font-size: 5em;
    }
    img {
        width:200px;
        padding-bottom:20px;
    }
}